<h1>About This Course</h1>
<p>After the completion of the fundamentals of Ruby Programming Language, This course takes your Ruby skills to the pext level.</p>
<p>We will see that you become a fullstack web developer with the most powerful web framework on which Github, Twitter, AirBnB and Basecamp were built on.</p>